/* basic settings */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 16px;
  font-family: monospace , Arial, Helvetica, sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.accord__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.accord__item {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
  overflow: hidden;
}

.accord__link {
  width: 100%;
  padding: 20px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accord__title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.accord__arrow {
  transform: rotate(180deg);
  fill: white;
  width: 20px;
  height: 20px;
}

.accord__text {
  height: 0;
  transition: all .5s;
  border: 3px solid lightcoral;
}


.accord__text p {
  padding: 20px;
}