.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.arrow {
  fill: royalblue;
  margin: 10px;
}

.arrow_transform_left {
  transform: rotate(-90deg);
}

.arrow_transform_right {
  transform: rotate(90deg);
}

#carousel {
  display: flex;
  width: 400px;
  overflow: hidden;
}

#carousel__list {
  position: relative;
  display: flex;
}

.carousel__item {
  width: 400px;
  height: 400px;
  border: 4px solid royalblue;
  background-color: lightcoral;
  color: white;
  font-size: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}